body {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.coin {
    position: absolute;
    top: 46%;
    left: 46%;
     transform: translate(-50%, -50%); 
     background: url(../image/coin.png); 
     width: calc(192px/3	);
    height: calc(128px/2); 
    
    
    animation: playh 0.8s steps(3) infinite, playv 0.8s steps(2) infinite;
}
@keyframes playh {
    0% {background-position-x: 0px;}
    100% {background-position-x: -192px;}
}

 @keyframes playv {
    0% {background-position-y: 0px;}
    100% {background-position-y: -128px;}
}